.custom-margin {
  margin-left: 320px;
}

.margin-icon-profil {
  margin-right: 80px;
  margin-top: 30px;
}

.btn-login {
  margin-right: 25px;
  margin-left: 320px;
  font-family: "poppins";
  font-size: 14px;
  background: #239c23;
  text-decoration: underline;
  color: white;
}

.btn-login:hover {
  background: #1d7c1d; /* Couleur personnalisée lorsque survolé */
}
